{% load static %}
<div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="about_box">
                    <span>Wellcome</span>
                    <h2>About<strong class="white"> us</strong></h2>
                    <p>Hello! Welcome to [Your Studio Name]. We are a creative studio specializing in [mention your specific field or focus, such as design, art, photography, film, music, etc.]. Located in [city, state/country], our studio is a hub of innovation and imagination.
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="about_img">
                    <figure><img src="{% static 'images/about_img.png' %}" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>