{% load static %}

<footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer_logo">
                            <a href="/"><img src="{% static 'images/logo-light.png' %}" alt="logo" /></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="address">
                            <h3>Contacts</h3>
                            <p>
                                <strong class="white_ll">Address: City, str. Street Name 4</strong>
                                <br>  <a href="https://www.instagram.com" target="_blank"><strong class="white_ll">Instagram:  @instagram</strong></a>
                                <br><strong class="white_ll"> Email: mailname@mail.com </strong></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <ul class="lik">

                            <li> <a href="https://www.instagram.com/" target="_blank"><img src="{% static 'images/insta_white_icon.png' %}" alt="#" /></a></li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2022 All Rights Reserved. <a href="https://github.com/KovalchukValentin"> Developer: Valentin Kovalchuk (GitHub)</a></p>
                </div>
            </div>
        </div>

    </footer>
    <!-- end footer -->

</div>

<div class="overlay"></div>
<!-- Javascript files-->
