<div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/">Main</a>
                        <hr width="92%" color="#17b4ee" align="right">
                    </li>

                    <li>
                        <a href="/gallery">Gallery</a>
                        <hr width="92%" color="#17b4ee" align="right">
                    </li>

                    <li>
                        <a href="/pricing">Price</a>
                        <hr width="92%" color="#17b4ee" align="right">
                    </li>
                    <li>
                        <a href="/sterilization">Sterilization</a>
                        <hr width="92%" color="#17b4ee" align="right">
                    </li>
                    <li>
                        <a href="/contact">Contacts</a>
                        <hr width="92%" color="#17b4ee" align="right">
                    </li>
                    <li>
                        <a href="/about">About us</a>
                    </li>


                </ul>

            </nav>
        </div>