{% load static %}
<div id="service" class="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ourheading">
          <h2>An example of work stages <strong class="white_ll"> in 3 stages</strong></h2>
          <span>Instruments undergo a 3-stage sterilization process because your health is a top priority for me!</span>
        </div>
      </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">

          <div class="container">
            <div class="carousel-caption">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service_box">
                    <figure><img src="{% static 'images/sterilization/1.jpg' %}"></figure>
                    <h3>Stage 1. Cleaning</h3>
                    <p>We clean the instruments from visible dirt.</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service_box">
                    <figure><img src="{% static 'images/sterilization/2.jpg' %}"></figure>
                    <h3>Stage 2. Disinfection</h3>
                    <p>1. We immerse the instruments in a disinfectant solution.</p>
                    <p>2. Wait for 30 minutes.</p>
                    <p>3. Rinse with a brush under running water.</p>
                    <p>4. Spread the instruments to dry.</p>
                    <p>5. Put the instruments in craft packages.</p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="service_box">
                    <figure><img src="{% static 'images/sterilization/3.jpg' %}"></figure>
                    <h3>Stage 3. Sterilization</h3>
                    <p>Sterilization in a hot-air sterilizer at a temperature of 180°C for 60 minutes.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>