{% load static %}

<div id="service" class="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ourheading">
                    <h2>Thank you for your application 😊❤️</h2>
                    <h3>I will contact you via <strong class="white_ll">Messenger</strong> by the end of the working day (20:00) 😉</h3>
                    <span>If you have any questions, feel free to reach out via Direct on Instagram <a href="https://www.instagram.com" target="_blank"><strong class="white_ll">@instagram</strong></a>
                        or email us at <strong class="white_ll">mailname@mail.com</strong><a href="/"></a></span>
                </div>
            </div>s
        </div>
    </div>
</div>